*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: gray;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.links{
    text-decoration: none;
    font-size: 2rem;
}

.links:not(:last-child){
    margin-bottom: 20px;
}

h4{
    font-weight: 100;
    font-size: 1.8rem;
}

.marquee{
    --duration: 4s;
    --space: 1rem;
    gap: var(--space);
    display: flex;
    overflow: hidden;
    position: fixed;
    z-index: 0;
    user-select: none;
    min-width: 100%;
    margin-top: 10px;
}

.marquee__group{
    display: flex;
    gap: var(--space);
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    animation: scrollText 30s linear infinite;
}

@keyframes scrollText{
    100%{
        transform: translateX(-100%);
    }
}