@font-face {
    font-family: Degular;
    src: url(./Fonts/DegularDisplay-Black.otf);
}

@font-face {
    font-family: Degular-Semi;
    src: url(./Fonts/Degular-Semibold.otf);
}

@font-face {
    font-family: Degular-Regular;
    src: url(./Fonts/Degular-Regular.otf);
}

@font-face {
    font-family: Degular-Thin;
    src: url(./Fonts/Degular-Regular.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    overflow: clip;
    animation: jump 0.3s ease-in;
    background-color: lightgray;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 20px;
}

.background{
    background: url(./2nd_Pass.(3).webp);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -2;
}

.main{
    margin-bottom: 20px;
}

.external{
    position: absolute;
    height: 85%;
    z-index: -1;
    width: 90%;
    top: 12%;
    left: 5%;
    border-radius: 5px;
    background: transparent;
    transition: opacity 0.5s ease-in-out;
}

.external.active{
    opacity: 1;
}

#email{
    width: 100%;
    height: 100%;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
}

#form{
    position: absolute;
    top: 17%;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
}

#form input{
    overflow: hidden;
    font-size: 15px;
    width: 100%;
    height: 20%;
    border-radius: 5px;
}

.username{
    position: relative;
}

.username::placeholder{
    position: absolute;
    left: 25px;
    font-family: Degular-Thin;
}

.email__text::placeholder{
    position: absolute;
    left: 25px;
    font-family: Degular-Thin;
}

.btncontainer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 3%;
    left: 20%;
    width: 60%;
    height: 7%;
}

button{
    background: none;
    border-style: none;
}

.button{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 1.4rem;
    letter-spacing: -0.5px;
    color: rgb(249, 221, 210);
    width: 25%;
    height: 100%;
    border-radius: 5x;
    cursor: pointer;
    font-family: Degular-Thin;
    transition: transform 0.3s ease-in-out;
}

.button:hover{
    transform: translateY(-10px);
}

.button:disabled{
    color: gray;
    cursor: not-allowed;
}

.button.active{
    color: rgb(249, 221, 210);
    cursor: pointer;
}

.button.active:hover{
    color: rgb(231, 239, 190);
}

input{
    padding-left: 25px;
    font-family: Degular-Thin;
    font-weight: 800;
    border: 1px solid rgb(249, 221, 210);
    transition: background-color 0.3s ease-in-out;
}

input:focus{
    outline: none;
    background-color: rgb(231, 239, 190);
    border: 2px solid black;
}

input::placeholder{
    padding-left: 0;
    font-family: Degular;
    font-weight: 800;
}

input:hover{
    background-color: rgb(231, 239, 190);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}

.container.inactive{
    opacity: 0;
}

.regions{
    font-family: Degular;
    font-size: 10rem;
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 14%;
    transform: translate(-50%, 50%);
    transition: opacity 0.5s ease-in-out;
    color: rgb(221, 225, 200);
    user-select: none;
}

.regions.visible{
    opacity: 1;
}

.main{
    transition: opacity 0.5s ease-in-out;
}

.main ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.main button{
    color: rgb(221, 225, 200);
    letter-spacing: -0.5px;
    font-size: 1.5rem;
    font-family: Degular-Thin;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease-in-out 0.1s;
}

.main button:hover{
    transform: translateY(-10px);
}

img{
    max-height: 70px;
    max-width: 70px;    
}

.start-icon{
    transform: translate(50%, 50%);
    position: absolute;
    top: 4%;
    right: 50%;
}

.logo{
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

.wrapper{
    color: rgb(221, 225, 200);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    transition: opacity 0.5s ease-in-out;
}

.wrapper.inactive{
    opacity: 0;
}

.plans{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    white-space: none;
    word-wrap: break-word;
    flex-wrap: wrap;
    overflow: hidden;
    width: 30%;
    height: 80%;
    top: -2%;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(221, 225, 200, 0);
    transition: opacity 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.plans button{
    font-family: Degular;
    line-height: 0.8;
    position: absolute;
    font-size: 6rem;
    margin-bottom: 30px;
    background: none;
    left: 50%;
    transform: translate(-50%);
}

.text__main{
    color: rgb(221, 225, 200);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.plans.active{
    border: 2px solid rgba(221, 225, 200, 0.3);
    background-color: rgba(255, 255, 255, 0);
}

.plans:hover .text__main{
    opacity: 0.15;
    
}

.plans:hover .plans__use li{
    opacity: 1;
}

.plans__buttons{
    position: absolute;
    background: none;
    border-style: none;
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: flex-end;
    bottom: 3%;
    height: 10%;
}

.checkbox{
    font-family: Degular-Thin;
    font-size: 1.5rem;
    letter-spacing: -0.5px;
}

input[type = 'checkbox']{
    height: 100%;
    transform: scale(2);
    margin-right: 10px;
}

.plans__buttons button{
    color: rgb(221, 225, 200);
    cursor: pointer;
    font-family: Degular-Thin;
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    transition: transform 0.3s ease-in-out;
}

.plans__buttons button:hover{
    transform: translateY(-10px);
}

.plans__buttons__button:disabled{
    cursor: not-allowed;
    color: gray;
}

.plans__buttons__button.active{
    color: rgb(221, 225, 200);
    cursor: pointer;
}

.plans__use{
    padding: 60px;
}

.plans__use li{
    user-select: none;
    position: relative;
    list-style: none;
    left: 50%;
    line-height: 1;
    font-family: Degular-Regular;
    letter-spacing: -0.5px;
    font-size: 1.25rem;
    transform: translate(-50%) scaleY(1.2) scaleX(1.2);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.wrapper li:not(:last-child){
    margin-bottom: 20px;
}

.spec{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
    background-color: none;
    padding: 20px;    
}

#specifics{
    width: 50%;
    height: 12%;
    border-radius: 5px;
    border-style: none;
    position: relative;
}

#specifics::placeholder{
    position: absolute;
    left: 25px;
    font-family: Degular-Thin;
    font-size: 16px;
    top: 35%;
}

.specbutton__container{
    position: absolute;
    bottom: 5%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.specbutton__container button{
    font-size: 1.5rem;
    letter-spacing: -0.5px;
    font-family: Degular-Thin;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, font-family 0.3s ease-in-out;
}

.specbutton__container button:hover{
    transform: translateY(-10px);
}

#next:disabled:hover{
    transform: translateY(0);
}

#nexttwo:disabled:hover{
    transform: translateY(0);
}

#logobutton{
    cursor: pointer;
}  

.body{
    color:rgb(221, 225, 200);
    background: none;
    position: relative;
    height: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.plans{
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    line-height: 0.9;
    transform: translateY(-5px);
}

.plans__features{
    list-style: none;
    text-align: right;
    opacity: 1;
}

.plans__features__left{
    text-align: left;
    opacity: 1;
    list-style: none;
}

.plans__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plans:not(:last-child){
    margin-bottom: 10px;
}

.plans__header h1{
    font-family: Degular;
    font-size: 8rem;
    text-align: center;
    display: flex;
    align-items: center;
    user-select: none;
    gap: 5px;
}

.plans__header span{
    font-family: Degular-thin;
    font-weight: 100;
    font-size: 1.2rem;
}

.plans__header li{
    font-size: 1.2rem;
    user-select: none;
    color: rgb(221, 225, 200);
    line-height: 1;
    font-weight: 400;
    letter-spacing: -0.2px;
    font-family: Degular-Regular;
}

.about{
    color: rgb(221, 225, 200);
    text-align: center;
    line-height: 1.2;
    overflow: break-word;
    transform: translateY(30px);
    padding: 20px;
    width: 100%;
    height: 80%;
    margin: 0 auto;
}

.about h1{
    font-family: Degular-Semi;
}

.about h3{
    font-family: Degular-Regular;
    font-weight: 400;
    width: 90%;
    padding: 10px;
    margin: 0 auto;
}

@keyframes viz {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes jump{
    0%{
        transform: translateY(10px);
    }
}

@media (max-width: 1000px) {
    .body{
        background-size: initial;
        justify-content: space-around;
    }
    
    .regions{
        font-size: 8rem;
        margin-top: 50px;
    }

    .main button{
        font-size: 1.4rem;
    }

    .plans__header h1{
        font-size: 6rem;
    }

    .plans__features li{
        font-size: 1rem;
    }

    #form{
        height: 50%;
        margin-top: 20px;
    }

    .plans__buttons{
        width: 100%;
    }

    .plans button{
        font-size: 5rem;
    }

    .plans__buttons button{
        font-size: 2rem;
    }

    .plans input, label{
        font-size: 1.2rem;
    }
    
    #multiplans{
        height: 12px;
    }

    .plans__use{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        padding: 20px;
        width: 100%;
    }

    .plans__use li{
        overflow-wrap: break-word;
        font-size: 0.7rem;
        letter-spacing: 0.1px;
        text-align: center;
    }

    .about{
        padding: 10px;
        margin-top: 10px;
    }

    .about h1{
        font-size: 2rem;
    }

    .about h3{
        font-size: 1.5rem;
    }

    .logo img{
        width: 50px;
        height: 25px;
        margin: 0 auto;
    }

}

@media (max-width: 800px) {
    body{
        min-width: 100%;
        background-size: 100% 100%;
    }
    .regions{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 6rem;
        margin-top: 100px;
    }

    .main button{
        font-size: 1.2rem;
    }

    .plans button{
        font-size: 4rem;
    }

    .plans__buttons button{
        font-size: 1.5rem;
    }

    .plans input, label{
        font-size: 1rem;
    }
    
    #multiplans{
        margin: 0;
        padding: 0;
        height: 10px;
    }

    .plans__header h1{
        font-size: 6rem;
    }

    .about h1{
        font-size: 1.6rem;
    }

    .about h3{
        font-size: 1.4rem;
    }
}

@media (max-width: 600px) {
    .body{
        background-size: initial;
        justify-content: space-around;
    }

    .regions{
        font-size: 4.8rem;
        margin-top: 130px;
    }

    .body{
        display: flex;
        position: relative;
    }

    .plans__header h1{
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    } 

    .plans__header span{
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .plans__features{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        left: 3%;
        text-align: left;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .plans__features li{
        font-size: 1.5rem;
    }

    .plans__header:hover h1, span{
        opacity: 0;
    }

    .plans__header:hover .plans__features{
        opacity: 1;
    }
    
    .about{
        padding: 10px;
    }

    .about h1{
        font-size: 1.2rem;
    }

    .about h3{
        font-size: 1rem;
    }

    .plans button{
        font-size: 3rem;
    }

    .plans__buttons button, input, label{
        font-size: 1.3rem;
    }

    #multiplans{
        height: 8px;
    }
}

@media (max-width: 470px) {
    .regions{
        font-size: 5rem;
        margin-top: 160px;
    }

    .background{
        background: url(./Mobile_4.webp);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .plans__header span{
        font-size: 1rem;
    }

    .plans__features li{
        font-size: 1.3rem;
    }

    .plans button{
        font-size: 2rem;
    }

    .plans__buttons input, label, button{
        font-size: 1.3rem;
        letter-spacing: 0.1px;;
    }

    .about h1{
        font-size: 1.5rem;
    }

    .about h3{
        font-size: 1.2rem;
    }

    #form{
        height: 30%;
        width: 100%;
        margin-top: 70px;
    }

    .btncontainer{
        bottom: -2%;
    }

    .text__main h1, span{
        font-size: 6rem;
        text-align: center;
    }

    .text__main span{
        opacity: 1;
        font-size: 1rem;
        font-family: Degular-Semi;
    }

    #specifics{
        height: 8%;
        width: 100%;
        transform: translateY(-40px);
    }
}

@media (max-width: 405px) {
    .regions{
        font-size: 3.5rem;
    }

    .about h1{
        font-size: 1.2rem;
    }

    .about h3{
        font-size: 1rem;
    }
}

@media (max-width: 370px){
    .regions{
        font-size: 3rem;

    }

    .about h1{
        font-size: 1rem;
    }

    .about h3{
        font-size: 0.9rem;
    }

    .logo img{
        width: 40px;
        height: 30px;
        margin: 0 auto;
    }
}
