*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.two, .five, .ten, .twenty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(225, 227, 230);
    padding: 10px 20px;
    border-radius: 10px;
    width: 250px;
    height: 400px;
    animation: fade-in .25s linear;
    transition: transform 0.3s ease-in-out;
}

.two:hover, .five:hover, .ten:hover, .twenty:hover {
    transform: translateY(-15px);
}

.two, .five, .ten{
    margin-right: 2rem;
}

.two__font, .five__font, .ten__font, .twenty__font{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    list-style: none;
}

li:not(:last-child){
    margin-bottom: 10px;
}

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
    }
}

@media (max-width: 1150px) {
    body{
        flex-direction: column;
        height: initial;
        padding: 20px;
    }    

    .two, .five, .ten, .twenty{
        margin: 15px auto;
    }
}
